#myMenu-findword72789 * {
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
}
/* #myMenu-findword72789 :focus { */
/*     outline: rgb(139, 177, 212) 2px solid !important; */
/* } */
#myMenu-findword72789 img, #myMenu-findword72789 label {
    display: inline !important;
}
#myMenu-findword72789 label {
    float: none !important;
    text-shadow: none !important;
    color: black !important;
}
#myMenu-findword72789 div {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: auto !important;
}
#myMenu-findword72789 textarea {
    width: 100% !important;
    border: none !important;
    resize: both !important;
    word-wrap: normal !important;
    margin: 0 !important;
}
.findword72789 {
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
    display: inline !important;
    font: inherit !important;
    color:inherit !important;
    background-color:inherit !important;
    float:none !important;
    text-align:inherit !important;
    width:auto !important;
}
span.findword72789CurrentWord {
    background: yellow !important;
    z-index: 12345 !important; /* current word */
}
div#tooltip-findword72789 {
    position: fixed;
    xposition: absolute;
    xposition: relative;
    left: 50px;
    top: 50px;
    z-index: 12345678 !important; /* tooltip */
    background: yellow !important;
    color: black !important;
    border: 1px solid #ddd !important;
    padding: 5px !important;
    font-size: 12px !important;
    width: auto !important;
    box-shadow: 20px 25px 10px rgba(0, 0, 0, 0.5) !important;
}
.containerText-findword72789 {
    background: white !important;
    margin: 0 !important;
    display: inline-block !important;
    position: relative !important;
}
.textField-findword72789 {
    color: black !important;
    padding: 2px !important;
    padding-left: 4px !important;
    padding-right: 18px !important;
    margin: 0 !important;
    margin-right: 20px !important;
    word-wrap: normal !important;
}

#on-setup-findword72789 {
    background-color: #f93 !important;
    padding: 40px !important;
    xborder: 2px inset red !important;
}
#googleSite-findword72789 {
    background: linear-gradient(white, #ddd, #ccc) !important;
    color: black !important;
    margin: 0 !important;
    padding: 12px !important;
    padding-right: 0px !important;
    font-size: 12px !important;
}
#googleSiteBx-findword72789 {
    xwidth: 12px !important;
    xheight: 12px !important;
    xmargin: 3px !important;
    xmargin-left: 4px !important;
    /* -webkit-appearance:none; was found on html5test.com. No idea why... ;-) */
    appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
}
#googleSiteURLContainer-findword72789 {
    min-width: 250px !important;
}
#googleSiteURL-findword72789 {
    xpadding-right: 18px !important;
    color: #999 !important;
    width: 222px !important;
    word-wrap: break-word !important;
}
#googleSiteUp-findword72789 {
    position: absolute !important;
    right: 2px !important;
    top: 1px !important;
    color: #ccc !important;
    cursor: pointer !important;
}

#theWordsContainer-findword72789 {
    border:1px #eee inset !important;
    min-width: 235px !important;
}
/* #theWords-findword72789 { */
/*     padding-right: 18px !important; */
/* } */
#clearWords-findword72789 {
    position: absolute;
    right: 2px !important;
    top: 1px !important;
    color: #ccc !important;
    cursor: pointer !important;
}

div#shield-findword72789 {
    position: fixed !important;
    left: 0px !important;
    top: 0px !important;
    width:2000px !important;
    height:2000px !important;
    background: black !important;
    opacity: 0.3 !important;
    filter: alpha(opacity = 50) !important;
    cursor: pointer!important;
    z-index: 12345676 !important; /* shield */
}
#noWord-findword72789 {
    position: fixed !important;
    padding: 0px !important;
    max-width: 310px !important;
    z-index: 123456789 !important; /* no word */
    display: none;
}
#noWordInner-findword72789 {
    padding: 8px !important;
    xbackground: #fcc !important;
    background: black !important;
    color: red !important;
    opacity: 0.9 !important;
    border: 1px solid black !important;
    box-shadow: 20px 25px 10px rgba(0, 0, 0, 0.5) !important;
    position: relative !important;
    top: 12px !important; 
    left: 15px !important; 
}


/* Popup Menu */
#menuFooter-findword72789 {
    background: #ccc !important;
    color: #990 !important;
    padding: 6px !important;
    height: auto !important;
    text-align: right !important;
}
#menuFooter-findword72789 a {
    color: #330 !important;
    background-color: inherit !important;
    text-decoration: underline !important;
    font-size: 12px !important;
    display: inline !important;
    padding: 0px !important;
}
#footMsg-findword72789 {
    xbackground: yellow !important;
    color: white ! important;
    margin-right: 50px !important;
}

/* :hover can't be used in direct styles so remove this */
/* #menuFooter-findword72789 a:hover { */
/*     color: #300 !important; */
/*     background-color: inherit !important; */
/* } */

#menuHeader-findword72789 {
    background: #ccc !important;
    font-size: 12px !important;
    height: auto !important;
}
#menuHeaderInner-findword72789 {
    padding-left: 6px !important;
    padding-right: 3px !important;
}
.aLine-findword72789 {
    padding: 0 !important;
    margin: 0 !important;
}
#topLine-findword72789 {
    xbackground: linear-gradient(175deg,  #aae9fe 0%,#85dbf5 66%,#3dcbfb 100%) !important;
    xbackground: linear-gradient(180deg,  rgba(170,233,254,1) 0%,rgba(133,219,245,0.2) 66%,rgba(61,203,251,0.0) 100%) !important;
    xbackground: linear-gradient(180deg,  rgba(204,204,204,1) 0%,rgba(225,225,225,1) 66%,rgba(250,250,255,1) 100%) !important;
    background: linear-gradient(180deg,  rgba(240,240,255,1) 0%,rgba(225,225,225,1) 33%,rgba(204,204,204,1) 100%) !important;
}
#quoteLine-findword72789 {
    padding-bottom: 4px !important;
}
#quoteBx-findword72789 {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}
#quitCross-findword72789 {
    color: #aaa !important;
    float: right !important;
    cursor: pointer!important;
    width: 40px;
    text-align: right;
}
#quitCross-findword72789:hover {
    color: yellow !important;
}
/* #menuHeader-findword72789 span#preWords-findword72789 { */
#preWords-findword72789 {
    font-weight: bold !important;
    display: inline-block !important;
    margin-right: 2px !important;
}
#postWords-findword72789 {
    color: black !important;
    margin: 0 !important;
    padding-top: 4px !important;
    padding-bottom: 0px !important;
    xdisplay: inline-block !important;
}

#myMenu-findword72789 {
    z-index: 12345677 !important; /* menu */
    xposition: absolute !important;
    border: solid 1px #CCC !important;
    width: 310px !important;
    background: #EEE !important;
    text-align: left !important;
    box-shadow: 20px 25px 10px rgba(0, 0, 0, 0.5) !important;
    line-height: normal !important;
}
.contextInnerMenu-findword72789 {
    padding: 0px !important;
    margin: 0px !important;
}
/* .contextInnerMenu-findword72789 p.google a { */
/*     background-image: url(images/page_white_edit.png); */
/* } */

/* .contextInnerMenu-findword72789 ul { */
/*     list-style: none !important; */
/* } */
.contextInnerMenu-findword72789 p {
    list-style: none !important;
    padding: 0px !important;
    margin: 0px !important;
    line-height: 20px !important;
    height: 20px !important;
    background: none white !important;
    font-size: 12px !important;
    text-align: left !important;
}
.contextInnerMenu-findword72789 p A {
    color: #333 !important;
    text-decoration: none !important;
    display: block !important;
    /* background-position: 6px center !important; */
    /* background-repeat: no-repeat !important; */
    /* background: none white !important; */
    xoutline: none !important;
    padding:  0 !important;
    xpadding-left: 6px !important;
}
.contextInnerMenu-findword72789 p A img {
    padding-top:2px!important;
    margin:2px!important;
    margin-left:6px!important;
    margin-right:8px!important;
    width: 16px !important;
    height: 16px !important;
    vertical-align: top !important; /* Get rid of the extra height, see stackoverflow */
}
#myMenuInner-findword72789, #myMenuInnerDyn-findword72789 {
    padding:0!important;
    margin:0!important;
}
.contextInnerMenu-findword72789 p A span {
    vertical-align:top!important;
    xpadding-left: 4px !important;
}
/* .contextInnerMenu-findword72789 p.hover A { */
/*     color: #FFF !important; */
/*     background-color: #3399FF !important; */
/* } */

.contextInnerMenu-findword72789 p.disabled A {
    color: #AAA !important;
    cursor: default;
}

.contextInnerMenu-findword72789 p.hover.disabled A {
    xbackground-color: transparent !important;
}

.contextInnerMenu-findword72789 p.separator-findword72789 {
    border-top: solid 1px #CCC !important;
}

/* .contextInnerMenu-findword72789 li a { */
/*     font-size: 12px !important; */
/* } */
